/**
 * @Author 开发团队 - team@shine.design
 * @Date 2018/9/26 下午8:05
 */

@mixin transition($transition) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -ms-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}
