/**
 * @Author 开发团队 - team@shine.design
 * @Date 2018/11/25 14:22
 */

$sh-aside-left-width: 255px;
$sh-aside-left-width-minimize: 78px;
$sh-aside-left-offcanvas-width: 255px;

$sh-aside: (
	aside-left: (
		self: (
			default: (
				width: $sh-aside-left-width,
				bg-color: (
					dark: #2c2e3e,
					light: #ffffff
				)
			),
			offcanvas: (
				tablet-and-mobile: (
					zindex: 1001,
					direction: left,
					transition:	all .3s ease,
					width: $sh-aside-left-width,
					close: (
						layout: (
							size: 25px,
							font-size: 1.4rem
						),
						skins: (
							dark: (
								icon: (
									default: #968ad4,
									hover: #ffffff
								),
								bg: (
									default: #323446,
									hover: get-brand-color()
								)
							),
							light: (
								icon: (
									default: lighten(#5e6383, 10%),
									hover: #ffffff
								),
								bg: (
									default: darken(#f8f8fb, 3%),
									hover: get-brand-color()
								)
							)
						)
					)
				)
			),
			fixed: (
				zindex: 98,
				scroller: (
					right: 5px,
					color: (
						dark: lighten(#2c2e3e, 24%),
						light: darken(#ffffff, 15%)
					)
				)
			),
			minimize: (
				width: $sh-aside-left-width-minimize,
				transition:	width 0.2s ease
			),
			hide: (
				transition:	none
			)
		)
	),

	aside-right: (
		self: (
			width: 230px,
			shadow: -5px 0 30px -12px rgba(#000, 0.1),
			bg-color: #fff,
			padding: (
				desktop: 30px,
				mobile: 20px
			),
			margin: (
				desktop: 30px,
				mobile: 20px
			)
		)
	),

	aside-header-menu-mobile: (
		self: (
			default: (
				width: $sh-aside-left-width,
				bg-color: (
					dark: #2c2e3e,
					light: #ffffff
				)
			),
			fixed: (
				zindex: 100
			),
			offcanvas: (
				zindex: 1001,
				direction: right,
				transition:	all .3s ease,
				width: $sh-aside-left-width,
				close: (
					layout: (
						size: 25px,
						font-size: 1.4rem
					),
					skins: (
						dark: (
							icon: (
								default: #968ad4,
								hover: #ffffff
							),
							bg: (
								default: #323446,
								hover: get-brand-color()
							)
						),
						light: (
							icon: (
								default: lighten(#5e6383, 10%),
								hover: #ffffff
							),
							bg: (
								default: darken(#f8f8fb, 3%),
								hover: get-brand-color()
							)
						)
					)
				)
			)
		)
	)
);
