+ /**
 * @Author 开发团队 - team@shine.design
 * @Date 2018/11/26 15:17
 */

$sh-loader: (
	loader: (
		self: (
			bg-color: #fff,
			zindex: 1000
		),
		animation: (
			speed: 1.2s,
			delay: 1s
		),
		spinner: (
			bg-color: #eee,
			size: 30px
		)
	)
);
